# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Frameworks y Entorno
node_modules
dist
dist-ssr
*.local
.env
.wwebjs_auth
.wwebjs_cache

# Scripts de Diagnóstico y Temporales (Ignorados en Producción)
*.cjs
*.js
*.txt
*.pdf
!package.json
!run_migration.js

# Base de Datos (Ocultar scripts de desarrollo, mantener el MASTER)
*.sql
!M7_PRODUCTION_SETUP.sql
!backend/init_production_coolify.sql
!backend/full_restore.sql

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
